#nav{
    position: fixed; 
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 6vh;
    color: white;
    margin: 0;
    padding: 0;
}
.nav{
    display: inline;
    vertical-align: top;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 5%;
}
.Title{
    display: inline;
    position: sticky;
    top: 0;
    font-family: serif;
    text-align: center;
    font-size: 5vh;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
td{
    width: 25%;
    border: .5vh solid grey;
}
table{
    background-color: black;
}
.img{
    width: 100%;
}
#navPic{
    height: 6vh;
}
#contain{
    width: 100vw;
    background-image: url(Images/SlopeSaverOpen.JPG);
    background-size: cover;
    text-align: center;
    height: 94vh;
}
span{
    font-size: 12vw;
    display: block;
    padding-top: 30vh;
}
.holds{
    text-align: center;
    position: sticky;
    top: 6vh;
    width: 100%;
    height: auto;
    margin:0;
    background: rgb(0,123,191);
}
body{
    background: white;
    margin:0;
    padding:0;
    margin-bottom: 5%;
    margin-top: 6vh;
}
p{
    font-size: 2vw;
    text-indent: 5%;
    margin-bottom: 0;
    margin-left: 2%;
}

#code{
    font-size: 1vw;
    text-indent: 0;
    margin-left: 1%;
}